{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}


<div class="ui three column grid">
    <div class="column">
        <div class="ui">
        </div>
    </div>
    <div class="column">
        <div class="ui">
            <br><br><br>
        <div class="ui segment">
                <h3>{% trans "Change Password" %}</h3><hr>
            {% element p %}
                {% trans 'Your password is now changed.' %}
            {% endelement %}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui">
        </div>
    </div>

</div
   {% endblock content %}
