form button[type="submit"]{
	background-color:white; /* Primary color */
	color: #dc3545; /* Text color */
	padding:0.5rem;
	border-radius: 0.28em; /* Rounded corners */
	font-weight: bold; /* Bold text */
	cursor: pointer; /* Pointer cursor on hover */
	border:#dc3545 1px solid;
	transition: background-color 0.3s ease; /* Transition definition */
}
form button[type="submit"]:hover{
	background-color:#dc3545;
	color:white;
	border:#dc3545 1px solid;
}
