form input{
	width:100%;
	padding:7px;
	border-radius:5px;
}

form button[type="submit"]{
	background-color:white; /* Primary color */
	color: #2185d0; /* Text color */
	border: none;
	padding:0.5rem;
	border-radius: 0.28em; /* Rounded corners */
	font-weight: bold; /* Bold text */
	cursor: pointer; /* Pointer cursor on hover */
	border:#2185d0 1px solid;
	transition: background-color 0.3s ease; /* Transition definition */
}
form button[type="submit"]:hover{
	background-color:#2185d0;
	color:white;
	border:#2185d0 1px solid;
}

